@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}
.menu {
  font-family: Arial;  
  width      : 360px;
  color      : #fff;
  box-shadow : 0px 0px 50px 0px #000;
  position   : absolute;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 15;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0); 
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  text-align      : center;
  height          : 100px;
  line-height     : 96px;
  display: block;
  color: #000000;
  font-size: 32px;
  cursor: pointer;
  border-radius: 8px 8px 0px 0px;
  background-image:url(https://image.noelshack.com/fichiers/2018/15/2/1523319618-logo-menu-mecano-insomnia.png)
}

.menu .menu-items {
  max-height : 500px;
  overflow-y : auto;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background-color: rgb(0, 0, 0);
  opacity         : 0.8;
  height          : 32px;
  line-height     : 32px;
  color           : #ffffff;
  padding: 0px 12px;
}

.menu .menu-items .menu-item.selected {
  background-color: #bc2c0f;

}